
//colors: {
//  primary: '#0F4C82',
//  primaryDark: '#004664',
//  primaryLight: '#1dc9dc',
//  secondary: '#582c7f',
//  text: '#ffffff',
//  gray: '#e0e0e0',
//}

$primary: #0F4C82 !default;
$primaryDark: #004664 !default;
$primaryLight: #1dc9dc !default;
$secondary: #582c7f !default;
$text: #ffffff !default;
$gray: #e0e0e0 !default;
