$background: rgb(238, 238, 238) !default;
$text: rgb(34, 34, 34) !default;
$border: rgb(221, 221, 221) !default;

$primary-100: rgb(4, 13, 18) !default;
$primary-200: rgb(10, 33, 41) !default;
$primary-300: rgb(24, 61, 61) !default;
$primary-400: rgb(42, 75, 74) !default;
$primary-500: rgb(67, 96, 95) !default;
$primary-600: rgb(92, 131, 116) !default;
$primary-700: rgb(122, 159, 138) !default;
$primary-800: rgb(143, 174, 154) !default;
$primary-900: rgb(147, 177, 166) !default;

$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;

$gray-100: rgb(245, 245, 245) !default;
$gray-200: rgb(238, 238, 238) !default;
$gray-300: rgb(224, 224, 224) !default;
$gray-400: rgb(189, 189, 189) !default;
$gray-500: rgb(158, 158, 158) !default;
$gray-600: rgb(117, 117, 117) !default;
$gray-700: rgb(97, 97, 97) !default;
$gray-800: rgb(66, 66, 66) !default;
$gray-900: rgb(33, 33, 33) !default;

$red-100: rgb(255, 235, 238) !default;
$red-200: rgb(255, 205, 210) !default;
$red-300: rgb(239, 154, 154) !default;
$red-400: rgb(229, 115, 115) !default;
$red-500: rgb(239, 83, 80) !default;
$red-600: rgb(229, 57, 53) !default;
$red-700: rgb(211, 47, 47) !default;
$red-800: rgb(198, 40, 40) !default;
$red-900: rgb(183, 28, 28) !default;

$blue-100: rgb(227, 242, 253) !default;
$blue-200: rgb(187, 222, 251) !default;
$blue-300: rgb(144, 202, 249) !default;
$blue-400: rgb(100, 181, 246) !default;
$blue-500: rgb(66, 165, 245) !default;
$blue-600: rgb(33, 150, 243) !default;
$blue-700: rgb(30, 136, 229) !default;
$blue-800: rgb(25, 118, 210) !default;
$blue-900: rgb(21, 101, 192) !default;

$green-100: rgb(232, 245, 233) !default;
$green-200: rgb(200, 230, 201) !default;
$green-300: rgb(165, 214, 167) !default;
$green-400: rgb(129, 199, 132) !default;
$green-500: rgb(102, 187, 106) !default;
$green-600: rgb(76, 175, 80) !default;
$green-700: rgb(67, 160, 71) !default;
$green-800: rgb(56, 142, 60) !default;
$green-900: rgb(46, 125, 50) !default;
